@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

* {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f2f6fc !important;
}

/* End default style */

svg._abs {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5rem;
  width: 100%;
}
