main section {
  padding: 7rem 0;
  position: relative;
}

main section:first-child {
  background-color: white;
}

.svg_container {
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.svg_container:not(._blue):not(._secondary) {
  background-color: #0061f2 !important;
  background-image: linear-gradient(
    135deg,
    #0061f2 0%,
    rgba(105, 0, 199, 0.8) 100%
  ) !important;
}

.svg_container._blue {
  background-color: #0061f2 !important;
}

.svg_container._secondary {
  background-color: #6900c7 !important;
}

.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container svg {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

.card_container h5 {
  font-weight: bold;
}

.card_container p {
  text-align: center;
}

._paragraph_explain {
  font-size: 1.1rem;
  font-weight: 400;
}

.content-skewed {
  perspective: 1500px;
  transform-style: preserve-3d;
}

.content-skewed-right {
  perspective-origin: right center;
}

.content-skewed-item {
  transform: rotateY(30deg) rotateX(15deg);
}

._pricing_section {
  margin-bottom: -7rem !important;
  padding-bottom: 0;
  z-index: 1;
}

.pricing-space {
  font-size: 3rem;
  color: black;
  margin-bottom: 2.5rem;
}

.pricing-space .pricing-period {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.pricing-card {
  background-color: white;
  color: black;
  min-height: 100%;
}

.pricing-option {
  list-style-type: none;
  font-size: 0.9rem !important;
  margin-bottom: 0.5rem;
}

.pricing-option:not(.is_active),
pricing-option:not(.is_active) {
  color: rgb(136, 136, 136) !important;
}

i._i_success {
  color: #00ba94;
}

._after_pricing_section {
  background-color: #212832;
  padding-top: 14rem;
  color: white;
}

p._response {
  color: rgba(255, 255, 255, 0.5) !important;
}

._svg_div {
  color: #c5ccd6 !important;
}

._company_svg {
  fill: currentColor;
  height: 3rem;
  margin-bottom: 1.5rem;
  transition: 0.3s ease-in-out;
}

._company_svg:hover {
  color: black !important;
}

._review_card {
  padding: 1.5rem 1rem;
}

._review_card:not(:nth-child(2)) {
  border-right: 2px solid rgb(226, 226, 226);
}

._has_success_border {
  border-left: 5px solid #00ba94;
}

._person_name {
  font-weight: bolder;
  font-size: 1rem;
  border-right: 1px solid rgb(226, 226, 226);
}

._review_company::before {
  content: '" ';
}

._review_company::after {
  content: ' "';
}

._review_company {
  font-size: 1.5rem;
  color: #0061f2;
  padding-left: 1rem;
}

._bg_white {
  background-color: white !important;
}

.information-card {
  background-color: white;
}

h6._blue {
  color: #0061f2 !important;
}

h6._secondary {
  color: #6900c7 !important;
}

._info_card_container {
  padding-top: 0;
  margin-top: -5rem;
}

.information-card {
  transition: 0.3s all ease;
  cursor: pointer;
}

.information-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
